/* import the global css file as explained at: 
https://www.geeksforgeeks.org/how-to-include-one-css-file-in-another/ . 
This way, all the styles in the imported file will apply here as well. 
This improves readability, performance and code maintainance */
@import "../Assets/css/globalStyles.css";

#mainContent {
	display: flex;
    flex-direction: column;
    min-height: 35rem;
    padding: 7rem 2rem;
    align-items: center;
}
/* share post styles */
#makeAPostContainer {
	display: flex;
    width: 90%;
    padding: 1rem 0;
}
#makeAPost {
	height: 2rem;
    width: 11%;
    display: flex;
    align-items: center;
    background-color: #01e478;
    color: #ffffff;
    font-weight: bold;
	border-radius: 5px;
	box-shadow: 6px -6px 5px 0px rgb(0 0 0 / 9%);
}

#makeAPost:hover {
	background-color: #ff914f;
	
}

/* all posts section styles */
.posts {
	display: flex;
    justify-content: center;
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
}
.postItem {
    min-height: 10rem;
    width: 90%;
    border-radius: 2rem;
}

.postItem, #sharePost {
    background-color: #f2fefe;
    display: flex;
    justify-content: space-between;
    margin: 0 0 2rem 0;
    box-shadow: 6px -6px 5px 0px rgb(0 0 0 / 9%);
    padding: 1rem;
}

.post-content {
    width: 92%;
}

.profilePicture {
	height:5rem; 
	width: 5rem;
}

#sharePost{
	flex-direction: column;
    width: 60%;
    border-radius: 8px;
    height: 20rem;
	width: 77%;
}
#submitPostBtn {
	width: 13%;
    border-radius: 8px;
	background-color: #01e478;
}
/* media queries to make the page responsive */
