@import "../Assets/css/globalStyles.css";

#mainContent {
  margin: 7rem 0 2rem 0;
}

.main-content {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 40rem;
}

#selection {
  width: 80%;
  min-height: 30rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 1 column by default */
  gap: 1rem;
  justify-content: space-around;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-img {
  height: 15rem;
  width: auto;
  object-fit: cover;
  border-radius: 0.5rem;
}

.submit-button {
  background-color: #01e478;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.submit-button:hover {
  background-color: #ff914f;
}

/* Media queries for responsive grid layout */
@media only screen and (max-width: 299px) {
  #selection {
    width: 95%;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (min-width: 300px) and (max-width: 600px) {
  #selection {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (min-width: 601px) and (max-width: 991px) {
  #selection {
    width: 85%;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #selection {
    width: 80%;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
  }
}
@media only screen and (min-width: 1200px) {
  #selection {
    width: 80%;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
  }
}
