/* footer.css */
.section_padding {
  padding: 4rem 4rem;
}

.footer {
  background-color: #0c3334;
  position: static;
  bottom: 0;
  width: 100%;
}

.sb_footer {
  display: flex;
  flex-direction: column;
}

.sb_footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  text-align: left;
  margin-bottom: 2rem;
}

.sb_footer-links-div {
  width: 150px;
  margin: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: white;
}

.sb_footer-links-div h4 {
  color: #e7723f;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 0.9rem;
}

.sb_footer-links-div p {
  font-size: 12px;
  line-height: 15px;
  margin: 0.5rem;
  cursor: pointer;
  color: white;
}

.sb_footer-links-div a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.sb_footer-links-div a:hover {
  color: #ff914f;
}

.socialmedia {
  display: flex;
  flex-direction: row;
}

.socialmedia img {
  width: 24px; /* Adjusted for consistent sizing */
  padding-top: 10px;
}

.facebook {
  width: 9.12px !important; /* 38% of 24px */
  padding-left: 10px;
}

.sb_footer-below {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.2rem;
}

.sb_footer-below-links {
  display: flex;
  flex-direction: row;
}

.sb_footer-below-links p {
  font-size: 13px;
  line-height: 15px;
  margin-left: 2rem;
  color: #ff914f;
  font-weight: 600;
}

.sb_footer-below-links a {
  color: #ff914f;
  text-decoration: none;
}

.sb_footer-below-links a:hover {
  color: white;
}

hr {
  color: #e7723f !important;
  width: 100%;
  border: 0;
  border-top: 1px solid #e7723f;
}

.sb_footer-copyright {
  font-size: 13px;
  line-height: 15px;
  color: white;
  font-weight: 600;
}

.sb_footer-copyright p {
  color: white;
}

/* Responsive adjustments */
@media screen and (max-width: 850px) {
  .sb_footer-heading h1 {
    font-size: 44px;
    line-height: 50px;
  }
}

@media screen and (max-width: 550px) {
  .section_padding {
    padding: 2rem;
  }

  .sb_footer-heading h1 {
    font-size: 34px;
    line-height: 42px;
  }

  .sb_footer-below {
    flex-direction: column;
    justify-content: left;
  }

  .sb_footer-below-links p {
    margin-left: 0rem;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 300px) {
  .section_padding {
    padding: 1rem;
  }

  .sb_footer-heading h1 {
    font-size: 27px;
    line-height: 38px;
  }
}

.sb_footer-links div {
  margin: 1rem 0;
}
