body {
	margin: 0;
	width: 100%;
	font-family: sans-serif, Helvetica Neue;
}

/* this is for styling purposes remove this later or comment it out */
/* * {
	outline: 1px solid #f00 !important;
} */

/* navbar styles */

/* submit button styles */
.submit-button {
	border-radius: 5rem;
	box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
	box-sizing: border-box;
	color: #ffffff;
	display: flex;
	font-size: 20px;
	justify-content: center;
	line-height: 1em;
	min-width: 10rem;
	text-decoration: none;
	cursor: pointer;
	background-color: #8dc63f;
	padding: 10px 24px;
	border: none;
	transition: 300ms;
}

.submit-button:hover {
	background-color: #ff914f;
}

.submit-or-register > #register-button {
	border: none;
	cursor: pointer;
	background-color: #00800054;
	text-underline-offset: auto;
	color: #ffffff;
	font-size: large;
	min-width: 10rem;
	text-align: left;
}

/* footer.css */
/* removed class for the extra div discuss with Nikola about this*/
footer {
	background-color: #0c3334;
	margin: 0;
	padding: 4rem 4rem;
	display: flex;
	flex-direction: column;
}

.sb_footer-links {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	width: 91%; /* lowered from 100% to 91% so it does not overflow consult Nik later to discuss changes */
	text-align: left;
	margin-bottom: 2rem;
}

h4 {
	color: #e7723f;
}

.sb_footer-links-div {
	width: 150px;
	margin: 1rem;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	color: white;
}

a {
	/* color: white;  overwrites colors on other links*/
	text-decoration: none;
	font-size: 15px;
}

.socialmedia {
	display: flex;
	flex-direction: row;
}

.socialmedia img {
	width: 100%;
	padding-top: 10px;
}

.facebook {
	width: 38% !important;
	padding-left: 10px;
}

.sb_footer-links-div h4 {
	font-size: 14px;
	line-height: 17px;
	margin-bottom: 0.9rem;
}

.sb_footer-links-div p {
	font-size: 12px;
	line-height: 15px;
	margin: 0.5rem;
	cursor: pointer;
	color: white;
}

.sb_footer-below {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 0.2rem;
	border: 3px;
	width: 91%; /* added width to make it fit the footer dive Tallk to Nikola about it*/
}

.sb_footer-below-links {
	display: flex;
	flex-direction: row;
}

.sb_footer-below-links p {
	font-size: 13px;
	line-height: 15px;
	margin-left: 2rem;
	color: #ff914f;
	font-weight: 600;
}

hr {
	/* color: #e7723f !important; */
	width: 91%; /* lowered from 100% to 91% so it does not overflow consult Nik later to discuss changes */
}

.sb_footer-copyright {
	font-size: 13px;
	line-height: 15px;
	color: white;
	font-weight: 600;
}

@media screen and (max-width: 850px) {
	.sb_footer-heading h1 {
		font-size: 44px;
		line-height: 50px;
	}
}

@media screen and (max-width: 550px) {
	.sb_footer-heading h1 {
		font-size: 34px;
		line-height: 42px;
	}
	.sb_footer-below {
		flex-direction: column;
		justify-content: left;
	}
	.sb_footer-below-links p {
		margin-left: 0rem;
		margin-top: 1rem;
	}
}

@media screen and (max-width: 300px) {
	.sb_footer-heading h1 {
		font-size: 27px;
		line-height: 38px;
	}
}

.sb_footer-links div {
	margin: 1rem 0;
}
